{% extends 'base.html' %}
{% load static %}

{% block title %}gplex - Dashboard{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'chat.css' %}">
{% endblock %}

{% block content %}

<header>
Logged in as {{ user.username }}. <a href="{% url 'logout' %}">Logout</a> <a href="{% url 'password_change' %}">Change password</a>
</header>

<div class="container">
  <div class="friends">
    <h1>Friends</h1>
    <ul class="friendlist">
      <li class="friend selected online">Theo</li>
      <li class="friend">Xorch</li>
      <li class="friend online">Miyoung</li>
    </ul>
  </div>
  <div class='chat'>
    <h1>Theo</h1>
    <ul class='chat-messages'>
      <li class='left'><div class="msg">Message</div><br><span class="timestamp">3 days ago</span></li>
      <li class='left'><div class="msg">Message</div><br><span class="timestamp">3 days ago</span></li>
      <li class='right'><div class="msg">Message</div><br><span class="timestamp">3 days ago</span></li>
      <li class='left'><div class="msg">Message</div><br><span class="timestamp">3 days ago</span></li>
      <li class='right'><div class="msg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div><br><span class="timestamp">15:45</span></li>
      <li class='left'><div class="msg">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div><br><span class="timestamp">just now</span></li>
    </ul>
    <form>
      <label for="sendmsg">Chat:</label>
      <input id="sendmsg"></input>
      <button id="sendbtn">Send</button>
    </form>
  </div>
</div>
<script>
  WS_TOKEN_URL="{% url 'wstoken' %}";
  WS_AUTH_TOKEN="{{ws_auth_token|safe}}";
  USERNAME="{{user.username|safe}}"
</script>
<script src="{% static 'chat.js' %}"></script>
{% endblock %}
