<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
    <link rel="stylesheet" href="friends.css">
  </head>
  <body>
    <div class="container">
      <div class="friends">
        <h1>Friends</h1>
        <ul class="friendlist">
          <li class="friend selected online">Theo</li>
          <li class="friend">Xorch</li>
          <li class="friend online">Miyoung</li>
        </ul>
      </div>
      <div class='chat'>
        <h1>Theo</h1>
        <ul class='chat-messages'>
          <li class='left'><div class="msg">Message</div><br><span class="timestamp">3 days ago</span></li>
          <li class='left'><div class="msg">Message</div><br><span class="timestamp">3 days ago</span></li>
          <li class='right'><div class="msg">Message</div><br><span class="timestamp">3 days ago</span></li>
          <li class='left'><div class="msg">Message</div><br><span class="timestamp">3 days ago</span></li>
          <li class='right'><div class="msg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div><br><span class="timestamp">15:45</span></li>
          <li class='left'><div class="msg">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div><br><span class="timestamp">just now</span></li>
        </ul>
        <form>
          <label for="sendmsg">Chat:</label>
          <input id="sendmsg"></input>
          <button>Send</button>
        </form>
      </div>
    </div>
  </body>
</html>
